.card {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	padding: 1.5rem;
	flex: 1;
	min-width: 16rem;
	min-height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	color: white;
	text-align: center;
}


.icon__setting {
	height: 4rem;
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	fill: rgb(217, 217, 217);
}

.icon__setting:hover {
	cursor: pointer;
	fill: white;
}

h2 {
	margin: 0.5rem 0;
	font-size: 2rem;
}
