.action__button {
	background-color: rgba(145, 139, 139, 0.883);
	border-radius: 50%;
	width: 12rem;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	position: relative;
	margin-bottom: 4rem;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
	border: none;
	transition: all 0.5s ease;
}

.action__button:hover {
	cursor: pointer;
	background-color: rgb(118, 113, 113);
	box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.2);
}

.icon__setting_redirect {
	height: 2.5rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	fill: rgb(249 249 249);
	background: #292626;
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.icon {
	height: 8rem;
	margin: 1rem 0;
}
