.action__button {
	background-color: rgba(145, 139, 139, 0.883);
	border-radius: 50%;
	width: 12rem;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	position: relative;
	margin-bottom: 4rem;
}

.action__button:hover {
	cursor: pointer;
	background-color: rgb(118, 113, 113);
}

.action__button::after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0.8rem;
	left: 0.5rem;
	width: 12rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: rgba(47, 44, 44, 0.37);
}

.action__button.active::after {
	opacity: 0;
}

.active {
	animation: buttonPush 0.3s ease-in-out;
}

.icon__setting_redirect {
	height: 3rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	fill: rgb(249 249 249);
	background: #292626;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
}

@keyframes buttonPush {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.icon {
	height: 8rem;
	margin: 1rem 0;
}

