
.status_container{
	display: flex;
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	
}

.LED__container{
	display: inline-flex;
    width: 21px;
    aspect-ratio: 1;
    background: black;
    border-radius: 50%;
}
