:root {
	margin: 0;
	padding: 0;
	--color-led-on: rgb(0, 255, 0);
	--color-led-off: grey;
}

html {
	font-size: 62.5%;
}

body {
	background: linear-gradient(to right, #1d4350, #a43931);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 98vh;
}

#root {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

a {
	text-decoration: none;
}

.footer {
	text-align: center;
	height: 8rem;
	display: grid;
	place-content: center;
}

.footer h1 {
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}
